TestingEncryptionMethod/Connected Services/RefWcf/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51357/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFTestEncryptionMethod" />
  <xs:element name="WindowsFormConnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFTestEncryptionMethod" minOccurs="0" name="windowsForm" nillable="true" type="q1:Variables" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WindowsFormConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WindowsFormConnectResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>